@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Cal Sans", sans-serif;
}

.container {
  position: relative;
  left: 200px;
  top: 260px;
  text-align: center;
  width: 280px;
  height: 400px;
  border-radius: 20px;
  background-color: grey; 
  border: solid;
  color: black;
  padding: 20px;
}

.enviar {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: white; 
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}


.enviar:hover {
  background-color: lightgrey; 
  transform: scale(1.1);
}


.enviar:active {
  background-color: darkgrey; 
  transform: scale(0.95);
}


input:focus {
  background-color: #f0f8ff;
  outline: none;
}


input[type="email"]:valid {
  color: green;
}


input[type="email"]:invalid {
  color: red;
}

.imagem {
  position: absolute;
  left: 1100px;
  top: 250px;
  border-radius: 40px;
  box-shadow: 0 0 30px #000;
}

.teste {
  position: fixed;
  background-color: black;
  padding: 32px;
  width: 100%;
  color: white;
  box-shadow: 0 -2px 10px #000;
}

.rodape {
  text-align: start;
  background-color: #1A1A1A;
  padding: 30px;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
  box-shadow: 0 -2px 10px #000;

}

  .fa-square-instagram {
    color: pink;
    transition: 1s;
    font-size: 50px;
}

.fa-square-instagram:hover {
  font-size: 60px;

}

.fa-square-whatsapp {
  font-size: 50px;
  color: #25D366;
  transition: 1s;
}

.fa-square-whatsapp:hover {
  font-size: 60px;

}

.fa-square-facebook {
  font-size: 50px;
  color: #1877F2;
  transition: 1s;
}

.fa-square-facebook:hover {
  font-size: 60px;

}
